In [42]:
import warnings
warnings.filterwarnings('ignore')

In [44]:
import pandas as pd
from pandas import Series, DataFrame
import requests
from bs4 import BeautifulSoup

In [45]:
#pretend to be a browser
header = {
  "User-Agent": "Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/50.0.2661.75 Safari/537.36",
  "X-Requested-With": "XMLHttpRequest"
}

In [46]:
#grand tour urls
#giro d-italia
url_gdi = 'https://www.procyclingstats.com/race/giro-d-italia/'
#tour de france
url_tdf = 'https://www.procyclingstats.com/race/tour-de-france/'
#vuelta a espana
url_vae = 'https://www.procyclingstats.com/race/vuelta-a-espana/'

In [77]:
#url data
base_url = 'https://www.procyclingstats.com/race/'

In [78]:
#grand tours
tours = ['giro-d-italia','tour-de-france','vuelta-a-espana']
#considered years
years = list(range(2010,2017,1))
#stages
stages = list(range(1,21,1))

In [83]:
#gt data
tour = tours[0]
year = str(years[0])
stage = str(stages[0])
url = base_url + tour +'/'+ year + '/stage-' + stage
r = requests.get(url,headers = header)
results = pd.read_html(r.text)
results = results[0]

#fix time
time = [x[0] for x in results.time.str.split()]

results['race'] = tour
results['year'] = year
results['stage'] = stage
results.columns = results.columns.str.lower()

In [93]:
time = [x[0] for x in results.time.str.split()]

In [98]:
wining = time[0]

In [99]:
wining

'10:18'

In [63]:
results

[     Rnk  BIB                    Rider  Age  \
 0      1  171          Wiggins Bradley   30
 1      2    2         Bookwalter Brent   26
 2      3    1              Evans Cadel   33
 3      4   41     Vinokourov Alexandre   36
 4      5  177        Henderson Gregory   33
 5      6  219             Porte Richie   25
 6      7  111             Millar David   33
 7      8  215           Larsson Gustav   29
 8      9  168            van Emden Jos   25
 9     10  182            Pinotti Marco   34
 10    11  132          Nibali Vincenzo   25
 11    12  166          Stamsnijder Tom   24
 12    13  189           Sieberg Marcel   28
 13    14   44            Grivko Andrei   26
 14    15  173              Cioni Dario   35
 15    16  151            Cataldo Dario   25
 16    17  119               Tuft Svein   32
 17    18   75      Konovalovas Ignatas   24
 18    19  218         MÃ¸rkÃ¸v Michael   25
 19    20   43        Gasparotto Enrico   28
 20    21  102        BrÃ¤ndle Matthias   20
 21    22  164               Flens Rick   27
 22    23   77              Wyss Marcel   23
 23    24  201          Gerdemann Linus   27
 24    25  181           Greipel AndrÃ©   27
 25    26   49       Dyachenko Alexandr   26
 26    27   53           Bonnet William   27
 27    28    6              Murphy John   25
 28    29   65          Kiryienka Vasil   28
 29    30   11         Garzelli Stefano   36
 ..   ...  ...                      ...  ...
 168  168   95          Canuti Federico   24
 169  169   21      Bonnafond Guillaume   22
 170  170   35            Loddo Alberto   31
 171  171    8          Stalder Florian   27
 172  172  104         Cheula Giampaolo   30
 173  173   92          Belletti Manuel   24
 174  174   19  Sarmiento Jose Cayetano   23
 175  175  213    SÃ¸rensen Chris Anker   25
 176  176  105          Eibegger Markus   25
 177  177   14        Donati Alessandro   31
 178  178   12          Andriotto Dario   37
 179  179   91       Pozzovivo Domenico   27
 180  180   87              Kriit Kalle   26
 181  181  143              Blythe Adam   20
 182  182   73         Gustov Volodymyr   33
 183  183   47       Iglinskiy Valentin   25
 184  184   94       Bisolti Alessandro   25
 185  185  108            Merlo Michele   25
 186  186  165         Kozonchuk Dmitry   26
 187  187  147            Lloyd Matthew   26
 188  188  101           Capelli Ermano   24
 189  189  194         Caruso Giampaolo   29
 190  190   93             Modolo Sacha   22
 191  191   55           Claude Mathieu   27
 192  192  211              Lund Anders   25
 193  193   16       Masciarelli Andrea   27
 194  194  107              Corti Marco   24
 195  195  193            McEwen Robbie   37
 196  196  109          Pedersen Martin   27
 197  197   82           Blot Guillaume   25

                                                   Team   UCI   Pnt     Avg  \
 0                                       Sky Procycling  16.0  80.0  48.932
 1                                      BMC Racing Team   8.0  50.0  48.774
 2                                      BMC Racing Team   4.0  35.0  48.774
 3                                               Astana   2.0  25.0  48.539
 4                                       Sky Procycling   1.0  18.0  48.539
 5                                            Saxo Bank   NaN  15.0  48.539
 6                            Team Garmin - Transitions   NaN  12.0  48.462
 7                                            Saxo Bank   NaN  10.0  48.384
 8                                     Rabobank ProTeam   NaN   8.0  48.230
 9                                  Team HTC - Columbia   NaN   6.0  48.230
 10                                    Liquigas - Doimo   NaN   5.0  48.153
 11                                    Rabobank ProTeam   NaN   4.0  48.076
 12                                 Team HTC - Columbia   NaN   3.0  48.000
 13                                              Astana   NaN   2.0  47.924
 14                                      Sky Procycling   NaN   1.0  47.924
 15                              Quickstep - Innergetic   NaN   NaN  47.848
 16                           Team Garmin - Transitions   NaN   NaN  47.773
 17                                   Cervelo Test Team   NaN   NaN  47.773
 18                                           Saxo Bank   NaN   NaN  47.773
 19                                              Astana   NaN   NaN  47.697
 20                                     Footon-Servetto   NaN   NaN  47.697
 21                                    Rabobank ProTeam   NaN   NaN  47.622
 22                                   Cervelo Test Team   NaN   NaN  47.622
 23                                              Milram   NaN   NaN  47.622
 24                                 Team HTC - Columbia   NaN   NaN  47.547
 25                                              Astana   NaN   NaN  47.473
 26                               Bbox Bouygues Telecom   NaN   NaN  47.398
 27                                     BMC Racing Team   NaN   NaN  47.398
 28                                    Caisse d'Epargne   NaN   NaN  47.398
 29                                      Acqua & Sapone   NaN   NaN  47.398
 ..                                                 ...   ...   ...     ...
 168                                 Colnago - CSF Inox   NaN   NaN  44.668
 169                                   AG2R La Mondiale   NaN   NaN  44.668
 170  Androni Giocattoli - Serramenti PVC Diquigiovanni   NaN   NaN  44.668
 171                                    BMC Racing Team   NaN   NaN  44.668
 172                                    Footon-Servetto   NaN   NaN  44.668
 173                                 Colnago - CSF Inox   NaN   NaN  44.668
 174                                     Acqua & Sapone   NaN   NaN  44.602
 175                                          Saxo Bank   NaN   NaN  44.602
 176                                    Footon-Servetto   NaN   NaN  44.602
 177                                     Acqua & Sapone   NaN   NaN  44.536
 178                                     Acqua & Sapone   NaN   NaN  44.471
 179                                 Colnago - CSF Inox   NaN   NaN  44.471
 180                         Cofidis Le Credit en Ligne   NaN   NaN  44.275
 181                                 Omega Pharma-Lotto   NaN   NaN  44.082
 182                                  Cervelo Test Team   NaN   NaN  44.082
 183                                             Astana   NaN   NaN  43.890
 184                                 Colnago - CSF Inox   NaN   NaN  43.890
 185                                    Footon-Servetto   NaN   NaN  43.890
 186                                   Rabobank ProTeam   NaN   NaN  43.763
 187                                 Omega Pharma-Lotto   NaN   NaN  43.763
 188                                    Footon-Servetto   NaN   NaN  43.573
 189                                           Katyusha   NaN   NaN  43.511
 190                                 Colnago - CSF Inox   NaN   NaN  43.448
 191                              Bbox Bouygues Telecom   NaN   NaN  43.324
 192                                          Saxo Bank   NaN   NaN  43.324
 193                                     Acqua & Sapone   NaN   NaN  43.200
 194                                    Footon-Servetto   NaN   NaN  43.138
 195                                           Katyusha   NaN   NaN  42.712
 196                                    Footon-Servetto   NaN   NaN  42.652
 197                         Cofidis Le Credit en Ligne   NaN   NaN  42.592

             Time   GC GC-Time
 0    10:18 10:18  1.0   +0:00
 1      0:02 0:02  NaN   +0:00
 2        ,, 0:02  NaN   +0:00
 3      0:05 0:05  NaN   +0:00
 4        ,, 0:05  NaN   +0:00
 5        ,, 0:05  NaN   +0:00
 6      0:06 0:06  NaN   +0:00
 7      0:07 0:07  NaN   +0:00
 8      0:09 0:09  NaN   +0:00
 9        ,, 0:09  NaN   +0:00
 10     0:10 0:10  NaN   +0:00
 11     0:11 0:11  NaN   +0:00
 12     0:12 0:12  NaN   +0:00
 13     0:13 0:13  NaN   +0:00
 14       ,, 0:13  NaN   +0:00
 15     0:14 0:14  NaN   +0:00
 16     0:15 0:15  NaN   +0:00
 17       ,, 0:15  NaN   +0:00
 18       ,, 0:15  NaN   +0:00
 19     0:16 0:16  NaN   +0:00
 20       ,, 0:16  NaN   +0:00
 21     0:17 0:17  NaN   +0:00
 22       ,, 0:17  NaN   +0:00
 23       ,, 0:17  NaN   +0:00
 24     0:18 0:18  NaN   +0:00
 25     0:19 0:19  NaN   +0:00
 26     0:20 0:20  NaN   +0:00
 27       ,, 0:20  NaN   +0:00
 28       ,, 0:20  NaN   +0:00
 29       ,, 0:20  NaN   +0:00
 ..           ...  ...     ...
 168    0:59 0:59  NaN   +0:00
 169      ,, 0:59  NaN   +0:00
 170      ,, 0:59  NaN   +0:00
 171      ,, 0:59  NaN   +0:00
 172      ,, 0:59  NaN   +0:00
 173      ,, 0:59  NaN   +0:00
 174    1:00 1:00  NaN   +0:00
 175      ,, 1:00  NaN   +0:00
 176      ,, 1:00  NaN   +0:00
 177    1:01 1:01  NaN   +0:00
 178    1:02 1:02  NaN   +0:00
 179      ,, 1:02  NaN   +0:00
 180    1:05 1:05  NaN   +0:00
 181    1:08 1:08  NaN   +0:00
 182      ,, 1:08  NaN   +0:00
 183    1:11 1:11  NaN   +0:00
 184      ,, 1:11  NaN   +0:00
 185      ,, 1:11  NaN   +0:00
 186    1:13 1:13  NaN   +0:00
 187      ,, 1:13  NaN   +0:00
 188    1:16 1:16  NaN   +0:00
 189    1:17 1:17  NaN   +0:00
 190    1:18 1:18  NaN   +0:00
 191    1:20 1:20  NaN   +0:00
 192      ,, 1:20  NaN   +0:00
 193    1:22 1:22  NaN   +0:00
 194    1:23 1:23  NaN   +0:00
 195    1:30 1:30  NaN   +0:00
 196    1:31 1:31  NaN   +0:00
 197    1:32 1:32  NaN   +0:00

 [198 rows x 11 columns],    Rnk  BIB            Rider  Age            Team
 0    1  171  Wiggins Bradley   30  Sky Procycling]

In [58]:
results[0].head()

,Rnk,BIB,Rider,Age,Team,UCI,Pnt,Avg,Time,GC,GC-Time
0,1,171,Wiggins Bradley,30,Sky Procycling,16.0,80.0,48.932,10:18 10:18,1.0,+0:00
1,2,2,Bookwalter Brent,26,BMC Racing Team,8.0,50.0,48.774,0:02 0:02,NaN,+0:00
2,3,1,Evans Cadel,33,BMC Racing Team,4.0,35.0,48.774,",, 0:02",NaN,+0:00
3,4,41,Vinokourov Alexandre,36,Astana,2.0,25.0,48.539,0:05 0:05,NaN,+0:00
4,5,177,Henderson Gregory,33,Sky Procycling,1.0,18.0,48.539,",, 0:05",NaN,+0:00

In [59]:
results[1].head()

   Rnk  BIB            Rider  Age            Team
0    1  171  Wiggins Bradley   30  Sky Procycling

In [6]:
#rankings:
url = 'https://www.procyclingstats.com/rankings.php'
r = requests.get(url,headers=header)
rankings = pd.read_html(r.text)
rankings = rankings[0]

In [7]:
riders = [[x[1]+'-'+x[0]][0] for x in rankings.Rider.str.lower().str.split()]

In [9]:
#iterate through riders for stats
url = 'http://www.procyclingstats.com/rider/'+riders[0]

In [12]:
r = requests.get(url,headers=header)
soup = BeautifulSoup(r.text)

In [13]:
data = soup.find('div',{'class':'rdrRes'})

In [122]:
row0 = data.findAll('div',{'class':'row'})[0]
date = row0.find('span').text
race = row0.find('b').text

In [158]:
row1 = data.findAll('div',{'class':'row'})[1]
date = row1.findAll('span')[0].text
result = row1.findAll('span')[1].text
race = row1.findAll('span')[4].text
distance = row1.findAll('span')[5].text
points_pcs = row1.findAll('span')[6].text
points_uci = row1.findAll('span')[7].text
index = 0
for i in row1:
    print(index, i.text)
    index +=1

0
1 1
2
3
4 Mountains Classification
5
6
7
8

In [156]:
row2 = data.findAll('div',{'class':'row'})[2]
date = row2.findAll('span')[0].text
result = row2.findAll('span')[1].text
race = row2.findAll('span')[4].text
distance = row2.findAll('span')[5].text
points_pcs = row2.findAll('span')[6].text
points_uci = row2.findAll('span')[7].text
index = 0
for i in row2:
    print(index, i.text)
    index +=1

0
1 18
2
3
4 Points Classification
5
6
7
8

In [157]:
row4 = data.findAll('div',{'class':'row'})[4]
date = row4.findAll('span')[0].text
result = row4.findAll('span')[1].text
race = row4.findAll('span')[4].text
distance = row4.findAll('span')[5].text
points_pcs = row4.findAll('span')[6].text
points_uci = row4.findAll('span')[7].text
index = 0
for i in row4:
    print(index, i.text)
    index +=1

0 27.05
1 145
2
3
4 Stage 21 - Roma › Roma
5 115
6
7
8

In [160]:
rows = data.findAll('div',{'class':'row'})

In [171]:
row['class']

['row']

In [173]:
df = []
for row in rows:
    if row['class'] == ['row']:
        print('row')
    elif row['class'] == ['row','light']:
        print('row light')

row
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row light
row
row light
row light
row light
row light
row light
row light
row
row light
row light
row light
row light
row light
row light
row light
row light
row
row light
row light
row light
row light
row light
row light
row light